{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Curious about ScribeIt</h4>
                <h2>Get acquainted with us here!</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="about-us">
      <div class="container">
      	
        <div class="row">
          <div class="col-lg-12">
            <img src="{% static 'assets/images/about-us.jpg' %}" alt="">
            <p>
              We've seen and done it all and we unite to start First Site Guide because we believe in the web for everyone. We can help you start a personal or business blog/site, a place to show your hobbies, offer advice to others, or just to share personal stories, pictures, and videos.
            </p><p>
              The web is a great place to be and make new connections from all parts of the world or just your neighborhood. Buy, sell, share your hobby passion, or just educate and entertain. We want you to be a part of it. Our motive is to create a unique platforms for blogholics that will motivate people, empower them to let their creative mind speak through them
            </p><p>
              Once we get you there, don't forget to check back in for technical, advice, social media, and marketing articles to help you navigate the digital highway. Bookmark us, like us, follow us and we'll be your digital information source. If you have any questions feel free to contact us at any time.
            </p>
          </div>
        </div>
        
      
        
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        
        
      </div>
    </section>

    
    
      
    {% endblock content %}
      