Currently we found following requirements for frontend and backend

FRONTENd:
    UI DESIGN and FORMATTING:
        About Us Page with FAQs Structure
        Profile Page, Design and Structure Improvement [Form is ready]
    
    COMMUNITY FORUM:
        Paper pr achi aur possible rough design banani hain sabko
        Content Kya kya honga?
            3 parts me forum ke discussions divided honge
            Categories | Queries | Suggestions,Feedback,Requests
            For Ex.
                koi chat ekadhe category pr create kr skte
                koi chat regarding koi query ya problem pr create kr skte
            ye discussion koi bhi authenticated user start kr skta aur participate kr skkta

    ek aur page add krna hain main Blogging website pr
        Blog Topic Requests by users to All or Specific Authors

BACkENd:
    Model for User/Author Profile page
    Work on Contact Page, so that if any user fills contact form, it gets notified to admin via mail or on admin dashboard

    Sending messages:
        from users to authors/admin
        from authors to admin
        from admin to users/authors 
    Work on Community forum
        Database model for community forum banana hain
        Views banana hain
    

Ye sab ke alawa if kisike pass aur koi suggestion hain add krne ko to they can tell.


Some Community forum website sample, so you can get basic idea about structure:
        1. https://dev.to/
        2. https://community.simpleisbetterthancomplex.com/
        3. https://www.freecodecamp.org/forum/
        4. https://stackoverflow.com/
        5. https://www.disboards.com/