{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Blogging Website</title>
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet"> 
  <!-- M Icons -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- Acutal M -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!-- Icons -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <!-- custom css -->
   <link rel="stylesheet" href="{% static 'assets/css/adminDashboard.css'%}">

   
   {% block extrahead %}
     
   {% endblock extrahead %}
     
</head>
<body>
<!-- NavBar -->
<section class="fnavbar">
   <nav class="nav-fixed">
       <div class="nav-wrapper">
         <a href="#" class="brand-logo" style="margin-left: 50px">ScribeIt!</a>
         <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'users:admin-home' %}"><i class="material-icons left">home</i>Home</a></li>
              <li><a href="{% url 'create-post' %}"><i class="material-icons left">playlist_add</i>Create New Post</a></li>
              <li><a href="{% url 'users:manage-posts' %}"><i class="material-icons left">burst_mode</i>Manage Posts</a></li>
              <li><a href="{% url 'posts-home' %}"><i class="material-icons left">dvr</i>Visit Site</a></li>
              <li><a href="{% url 'users:user-profile' %}"><i class="material-icons left">person</i>My Profile</a></li>
              <li><a href="{% url 'users:log-out' %}"><i class="material-icons left">exit_to_app</i>Log Out</a></li>
            {% else %}
              <li><a href="{% url 'users:admin-home' %}"><i class="material-icons left">home</i>Home</a></li>
              <!-- <li><a href="#"><i class="material-icons left">burst_mode</i>Manage Posts</a></li> -->
              <li><a href="{% url 'posts-home' %}"><i class="material-icons left">dvr</i>Visit Main Site</a></li>
              <li><a href="{% url 'users:user_login' %}"><i class="material-icons left">person</i>Log In</a></li>
              <li><a href="{% url 'users:register' %}"><i class="material-icons left">exit_to_app</i>Register</a></li>
            {% endif %}
          </ul>
        </div>

      </nav>

      <ul class="sidenav" id="mobile-demo">
              {% if request.user.is_authenticated %}
              <li><a href="{% url 'users:admin-home' %}"><i class="material-icons left">home</i>Home</a></li>
              <li><a href="{% url 'create-post' %}"><i class="material-icons left">playlist_add</i>Create New Post</a></li>
              <li><a href="{% url 'users:manage-posts' %}"><i class="material-icons left">burst_mode</i>Manage Posts</a></li>
              <li><a href="{% url 'posts-home' %}"><i class="material-icons left">dvr</i>Visit Site</a></li>
              <li><a href="{% url 'users:user-profile' %}"><i class="material-icons left">person</i>My Profile</a></li>
              <li><a href="{% url 'users:log-out' %}"><i class="material-icons left">exit_to_app</i>Log Out</a></li>
            {% else %}
              <!-- <li><a href="{% url 'users:admin-home' %}"><i class="material-icons left">home</i>Home</a></li> -->
              <!-- <li><a href="#"><i class="material-icons left">burst_mode</i>Manage Posts</a></li> -->
              <li><a href="{% url 'posts-home' %}"><i class="material-icons left">dvr</i>Visit Main Site</a></li>
              <li><a href="{% url 'users:user_login' %}"><i class="material-icons left">person</i>Log In</a></li>
              <li><a href="{% url 'users:register' %}"><i class="material-icons left">exit_to_app</i>Register</a></li>
            {% endif %}
      </ul>
</section>

<!-- Slider -->
<section class="fslider">
  <div class="slider" style="background: #ffd180;">
    <ul class="slides">
      <li>
        <img src="{% static 'assets/images/bl1.jpg' %}" alt="image one">
      </li>
      <li>
        <img src="{% static 'assets/images/bl5.jpg' %}" alt="image one">
      </li>
      <li>
        <img src="{% static 'assets/images/bl6.jpg' %}" alt="image one">
      </li>
      <li>
        <img src="{% static 'assets/images/bl7.jpg' %}" alt="image one">
      </li>
    </ul>
  </div>
</section>

{% block content %}
  
{% endblock content %}



<!-- parallex -->
<section class="fparallex">
  <div class="parallax-container" >
      <div class="parallax"><img src="{% static 'assets/images/px.jpg' %}"></div>
    </div>
</section>

<!-- AboutUs -->
<section class="fabout">
	<div class="section center" style="background: #ffd180;" >
		<div class="row container">
		  <h2 class="header">About Us</h2>
		  <p class="grey-text text-darken-3">
        We've seen and done it all and we unite to start First Site Guide because we believe in the web for everyone. We can help you start a personal or business blog/site, a place to show your hobbies, offer advice to others, or just to share personal stories, pictures, and videos.
      </p><p class="grey-text text-darken-3">
        The web is a great place to be and make new connections from all parts of the world or just your neighborhood. Buy, sell, share your hobby passion, or just educate and entertain. We want you to be a part of it. Our motive is to create a unique platforms for blogholics that will motivate people, empower them to let their creative mind speak through them
      </p><p class="grey-text text-darken-3">
        Once we get you there, don't forget to check back in for technical, advice, social media, and marketing articles to help you navigate the digital highway. Bookmark us, like us, follow us and we'll be your digital information source. If you have any questions feel free to contact us at any time.
      </p>
		   <a href="#" class="btn waves-effect waves-light" style="background: #e65100 !important;">Read More</a>
	    </div>
	</div>
</section>






<!-- footer -->
<section class="ffooter">
  <footer class="footer-one">
    <div class="container">
      <div class ="row center">


        
        <div class="col s12 l6">
          <div class="container white-text">

          <div class ="row">
              <h4>Contact Us</h4>
          </div>

          <div class ="row">

            <section class="fcontact">
                           <div class="row" style="padding-right: 10px padding-left:10px">
                            <div class="col s12 l4 center" style="padding:10px">
                              <i class="fa fa-address-card small"></i>
                              <h6 class="header">Shanti Nagar Delhi- 441502 </h6>
                            </div>
                            <div class="col s12 l4 center" style="padding: 10px">
                              <i class="fa fa-phone-square small"></i>
                                <h6 class="header">+918788303454</h6>
                  </div>
             
                     </div>
                 </section>
            </div>    
            </div>
            </div>

        <div class="col s12 l6">
          <div class="container white-text">

          <div class ="row">
              <h4>Social Media</h4>
          </div>

          <div class ="row">

            <section class="fmedia">
                           <div class="row" style="padding-right: 10px padding-left:10px">
                            <div class="col s12 l4 center" style="padding: 10px">
                              <!-- <i class="small material-icons">facebook-square</i> -->
                              <i class="fa fa-facebook-square small"></i>
                              <h6 class="header">Facebook</h6>
                            </div>
                            <div class="col s12 l4 center" style="padding: 10px">
                              <i class="fa fa-instagram small"></i>
                                <h6 class="header">Instagram</h6>
                  </div>
                  <div class="col s12 l4 center" style="padding: 10px">
                    <i class="fa fa-twitter-square small"></i>
                    <h6 class="header">Twitter</h6>
                  </div>
                     </div>
                 </section>
            </div>    
            </div>
            </div>



      </div>
      </div>


        

          
    
    <div class="row footer-two">
      <div class="col s12 l6 center">
        <p class="white-text">&copy; ScribeIt</p>
      </div>
      <div class="col s12 l6 center">
        <p class="white-text">Designed by Web Dev Team</p>
      </div>
    </div>

  </footer>
</section>


</body>

<!-- JQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

<!-- M Script -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

 <!-- custom js -->

 <script src="{% static 'assets/js/loader.js' %}"></script>

 

</html>